.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar maincontent"
    ;
}


.sidebar {
    grid-area: sidebar;
    background-color: rgb(143, 143, 255);

}

.header {
    grid-area: header;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.maincontent {
    grid-area: maincontent;
}

/* Header */

.userinfo {
    display: flex;
}

.searchbar {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
}

#belllogo {
    margin-right: 1em;
    margin-top: 1em
}


#user_id {
    font-size: 16px;
    margin-right: 10px;
}

.userwelcome {
    display: flex;
    gap: 20px;
}